@font-face {
  font-family: AvenirBlack;
  src: url(../fonts/AvenirLTStd-Black.otf); }
@font-face {
  font-family: AvenirBook;
  src: url(../fonts/AvenirLTStd-Book.otf); }
@font-face {
  font-family: AvenirHeavyOblique;
  src: url(../fonts/AvenirLTStd-HeavyOblique.otf); }
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

body {
  width: 100vw;
  height: 100vh;
  background-color: #202636;
  background: linear-gradient(156deg, #202636 0%, #202636 50%, #686c75 100%);
  margin: 0; }

#landing #wave {
  z-index: 1;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: -10px; }
#landing #back-wave {
  z-index: 0;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  filter: blur(3px); }
#landing .wave-move {
  animation: mover 1s infinite alternate; }
#landing .back-wave-move {
  animation: moverBis 1s infinite alternate; }
#landing .wave-slide-out {
  animation-name: slideOut !important;
  animation-duration: 3s !important;
  animation-fill-mode: both; }
#landing .cloud {
  z-index: 0;
  opacity: 0.2;
  position: fixed;
  top: 0;
  animation-name: cloud-move;
  animation-duration: 20s;
  animation-iteration-count: infinite; }
#landing #cloud-left {
  width: 30vw;
  margin-top: 20vh;
  filter: blur(10px); }
#landing #cloud-right {
  width: 20vw;
  right: 50px;
  margin-top: 40vh;
  filter: blur(10px); }
#landing nav {
  padding: 20px 30px;
  color: white;
  display: flex;
  justify-content: space-between; }
  #landing nav #prod {
    width: 90px;
    height: 100%; }
  #landing nav img {
    width: 25px; }
#landing header {
  height: calc(45vh + 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  #landing header #karma-logo {
    width: 400px;
    margin: 20px; }
  #landing header #slogan {
    color: white;
    text-transform: uppercase;
    font-family: AvenirBook;
    text-align: center;
    font-size: 2vh; }
  #landing header #start-btn {
    margin-top: 50px; }
    #landing header #start-btn img {
      width: 100px;
      animation-name: highlight;
      animation-duration: 6s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite; }
#landing #legal {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 5px 10px;
  color: white;
  text-align: center;
  font-family: AvenirBook;
  font-size: 1.5vh;
  z-index: 2; }

#player {
  display: none; }
  #player .info-point {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 100%;
    z-index: 10;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); }
  #player .pulse {
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); }
  #player .modal-info {
    width: 300px;
    display: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    position: fixed;
    z-index: 11; }
    #player .modal-info h4 {
      font-family: AvenirHeavyOblique;
      text-transform: uppercase; }
    #player .modal-info p {
      margin: 20px 10px;
      font-family: AvenirBook;
      color: white;
      text-align: center; }
    #player .modal-info .infoProgressBar {
      width: 100%;
      height: 2px;
      background: cyan;
      bottom: 0;
      position: absolute;
      left: 0; }
    #player .modal-info .loading {
      animation-name: info-load;
      animation-duration: 8s;
      animation-fill-mode: both;
      animation-timing-function: linear; }
  #player video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; }
  #player #vid-city {
    max-width: 100%;
    height: auto;
    z-index: 3; }
  #player #vid-ocean {
    max-width: 100%;
    height: auto;
    z-index: 2; }
  #player #vid-rewind {
    max-width: 100%;
    height: auto;
    z-index: 1; }
  #player #change-view-wrapper {
    position: fixed;
    z-index: 5;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 100%;
    padding: 15px;
    left: 50%;
    margin-left: -17px;
    bottom: 150px;
    cursor: pointer; }
    #player #change-view-wrapper img {
      width: 30px; }
  #player #rewind-modal {
    width: 100%;
    position: fixed;
    z-index: 9;
    color: white;
    text-align: center;
    top: 40%;
    font-family: AvenirBlack;
    text-transform: uppercase;
    display: none; }
    #player #rewind-modal h2 {
      margin-bottom: 20px; }
    #player #rewind-modal #rewind-btn {
      border: solid white 3px;
      padding: 10px;
      text-decoration: none;
      color: white;
      animation-name: highlight;
      animation-duration: 6s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite; }
  #player nav {
    font-family: AvenirBook;
    color: white;
    position: fixed;
    z-index: 4;
    width: 100%;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    bottom: 0;
    padding: 10px; }
    #player nav span {
      display: flex;
      justify-content: center; }
      #player nav span h3 {
        text-align: center;
        margin-bottom: 20px;
        margin-right: 10px; }
      #player nav span #play-btn {
        margin-top: 5px;
        margin-bottom: 7px;
        cursor: pointer; }
    #player nav .progress-wrapper {
      display: flex;
      justify-content: flex-start; }
      #player nav .progress-wrapper h4 {
        width: 100px;
        padding: 5px; }
      #player nav .progress-wrapper .seekbar-wrapper {
        position: relative;
        display: flex; }
        #player nav .progress-wrapper .seekbar-wrapper progress {
          width: 90vw;
          height: 12px;
          margin-top: 7.5px;
          -webkit-appearance: none;
          border: none; }
        #player nav .progress-wrapper .seekbar-wrapper progress::-webkit-progress-bar {
          background: white; }
        #player nav .progress-wrapper .seekbar-wrapper progress::-webkit-progress-value {
          box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
          background: var(--c, white);
          animation: move 5s linear 0 infinite; }

.fade-out {
  animation-name: fadeOut;
  animation-duration: 1.2s;
  animation-fill-mode: both; }

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1.2s;
  animation-fill-mode: both; }

.blur {
  animation-name: blur;
  animation-duration: 0.4s;
  animation-fill-mode: both; }

@keyframes highlight {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3);
    filter: drop-shadow(0px 0px 20px white); }
  100% {
    transform: scale(1); } }
@keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }
@keyframes moverBis {
  0% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }
@keyframes slideOut {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(300px); } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes cloud-move {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(150px); }
  100% {
    transform: translateX(0); } }
@keyframes blur {
  from {
    filter: blur(0px); }
  to {
    filter: blur(15px); } }
@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0); } }
.none {
  display: none; }

@keyframes info-load {
  from {
    width: 0%; }
  to {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
